/* GLOBAL STYLES--> MOBILE */


html {
    background-color: white;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}


p {
    font-size: 15px;
}

figure {
    margin: 0;
}

/* MOBILE STYLES */
/* HEADER STYLES */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
}

.logo {
    width: 50%;
    margin: 0;
}

.icon-menu {
    width: 25%;
}

.icon-closeout {
    display: none;
}

.logo img {
    align-items: start;
}

nav {
    display: none;
}

/* MAIN STYLES */

.section-one {
    margin-left: 5px;
    margin-top: 25px;
    width: 350px;
}

.section-one img {
    width: 95%;
    margin-top: 10px;
    margin-left: 8px;
}

.desktop-image img {
    display: none;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    padding-right: 55px;
    color: hsl(240, 100%, 5%);
    margin: 20px 8px;
}

.section-one p {
    margin: 20px 8px;
    line-height: 25px;
    font-weight: 400;
    color: hsl(240, 100%, 5%);
}

.button {
    background-color: hsl(5, 85%, 63%);
    width: 53%;
    padding: 8px 0;

}

.section-one .button {
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

/* ASIDE SECTION  */

aside {
    background-color: hsl(240, 100%, 5%);
    margin: 0 10px 50px 10px;
}

article {
    border-bottom: 1px hsl(233, 8%, 79%) solid;
    margin: 0 20px;

}

.headline-three {
    border: none;
    padding-bottom: 1px;
}



aside h2 {
    color: hsl(35, 77%, 62%);
    padding: 25px 0 10px 20px;
    font-size: 30px;
    letter-spacing: 1px;
}


aside h3 {
    font-size: 20px;
    margin-top: 25px;
    color: hsl(36, 100%, 99%);
}

aside p {
    line-height: 22px;
    margin-bottom: 25px;
    padding-right: 5px;
    color: hsl(233, 8%, 79%);
}

/* SECTION THREE  */

.bottom-section {
    width: 350px;
    margin-left: 3px;
}

.bottom-section article {
    border: none;
}

.article-one,
.article-two,
.article-three {
    /* width: 100%; */
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.bottom-section figure {
    width: 35%;
}

.article-content {
    width: 65%;
}

article img {
    padding: 15px 0;
    width: 80%;
    margin-left: 7px;
}

.bottom-section h3 {
    font-size: 30px;
    color: hsl(233, 8%, 79%);
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 5px;
}

.bottom-section h4 {
    font-size: 17px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 12px;
    padding-left: 5px;
}

.bottom-section p {
    color: hsl(236, 13%, 42%);
    margin: 0;
    padding-right: 10px;
    padding-left: 5px;
}

/* FOOTER STYLES */

footer {
    margin: 30px 0;
}


/* DESKTOP STYLES  */
@media only screen and (min-width:1200px) {
    /* HEADER STYLES */

       .logo {
        width: 30%;
        margin: 0;
    }

    .logo img{
        width: 60px;
        margin: 50px 0;
    }

    .icon-menu {
        display: none;
    }

    nav {
        width: 70%;
        display:inline-block;
        text-align: end;
    }

    nav ul li {
        display: inline;
        outline: 3px green dotted;
        text-transform: capitalize;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        margin-left: 30px;
    }

    /* MAIN STYLES  */

    main {
        outline: red dotted 3px;
        width: 100%;
    }

    .top-section {
        display: flex;
        flex: row wrap;
        margin: 0;
        padding: 0;
    }

    .bottom-section {
        outline: 3px dotted blue;
        display: flex;
        width: 100%;
    }

    .section-one {
        height: 550px;
        width: 65%;
        outline: 3px red dotted;
        margin: 0;
    }

    .section-content {
        outline: 3px blue dotted;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex: row;
        margin: 0;
    }

    .section-description {
        width: 50%;
        margin: 0;      
    }

    .section-one p {
        margin-right: 50px;
    }

    .section-one img {
        display: none;
    }

    .desktop-image img {
        display: flex;
        width: 100%;
        margin: 0;
    }

    h1 {
        font-size: 50px;
        width: 40%;
        line-height: 55px;
        padding: 0;
        /* margin: 30px 0 0 0; */
    }

    .section-one p {
        margin: 30px 0 0 60px;
        line-height: 25px;
        width: 100%;
    }

    .button {
        padding: 10px 0;
    }

    .section-one .button {
        /* margin-bottom: 40px; */
        width: 55%;
        margin: 0;
    }

    aside {
        width: 30%;
        margin: 0;
        /* margin-left: 100px; */
        margin-bottom: 50px;
        margin-top: 30px;
        margin-left: 30px;
    }

    aside h2 {
        padding: 5px 0 10px 20px;
        margin: 10px 0;
    }

   



}